h1 {
  font-weight: bold;
  color: #1565C0;
}

img {
  padding-left: 10;
  padding-right: 10;
  padding-top: 10;
  padding-bottom: 10;
}

.content {
  color: "#9e9e9e";
}

.borders {
  border: 1px solid darkblue;
  padding: 20px;
  margin: 10px;
}
